{% extends 'base.html.twig' %}

{% block title %}Administrer les articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="5">
                <a href="{{ path('admin.post.new') }}" class="btn btn-primary w-100">Ajouter un article</a>
            </th>
        </tr>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Créé le</th>
            <th>Dernière modification</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.createdAt | date('d/m/Y H:i') }}</td>
                <td>{{ post.updatedAt | date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('admin.post.edit', {'id': post.id}) }}" class="btn btn-secondary">Editer /
                        Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
