{% extends 'admin.base.html.twig' %}

{% block title %}Commentaires en attente de validation{% endblock %}
{% block admin_header_title %}Commentaires en attente de validation{% endblock %}
{% block body_class %}container-fluid{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Créé le</th>
                <th>Article</th>
                <th>Titre commentaire</th>
                <th>Contenu</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pendingComments %}
                <tr>
                    <td>{{ comment.createdAt | date('d/m/Y H:i') }}</td>
                    <td>
                        <a href="{{ path('post.show', {'slug': comment.post.slug, 'id':comment.post.id}) }}">{{ comment.post.title }}</a>
                    </td>
                    <td>{{ comment.title }}</td>
                    <td>{{ comment.content|nl2br }}</td>
                    <td>
                        <form method="post" action="{{ path('admin.comment.validate', {'id': comment.id}) }}"
                              class="mb-3">
                            <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ comment.id) }}">
                            <button class="btn btn-success btn-block">Valider</button>
                        </form>
                        <form method="post" action="{{ path('admin.comment.delete', {'id': comment.id}) }}"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');"
                              class="mb-3">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                            <button class="btn btn-danger btn-block">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de résultats</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto d-flex justify-content-center">
            {{ knp_pagination_render(pendingComments) }}
        </div>
    </div>
    <div>
        <a href="{{ path('admin.index') }}">Retour au panneau d'administration</a>
    </div>
{% endblock %}
