{% extends 'admin.base.html.twig' %}

{% set current_menu = 'register' %}

{% block title %}Créer un compte{% endblock %}
{% block admin_header_title %}Créer un compte{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.nickname) }}
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}

            <button class="btn btn-lg btn-primary btn-block">Créer mon compte</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
