<div class="post-preview">
    <a href="{{ path('post.show', {slug: post.slug, id: post.id}) }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ post.lede }}
        </h3>
    </a>
    <p class="post-meta">Posté par
        <a href="#">{{ post.author.nickname }}</a>
        | dernière modification : {{ post.updatedAt | date('d/m/Y à H:i') }}</p>
</div>
<hr>