{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.lede }}</h2>
                    <span class="meta">
                        Posté par
                        <a href="#">{{ post.author }}</a>
                        | dernière modification le {{ post.updatedAt | date('d/m/Y \à H:i') }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <article class="row">
        <p class="col-lg-8 col-md-10 mx-auto">
            {{ post.content | nl2br }}
        </p>
    </article>

    <div id="addComment" class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h3>
                <i class="pr-3 fa fa-comment"></i>Commentaires ({{ post.validatedComments | length }})
            </h3>
            <hr>
            {% if app.user %}
                {% for message in app.flashes('comment.success') %}
                    <div class="alert alert-success text-center">{{ message }}</div>
                {% endfor %}
                <div class="mb-2">
                    {{ form_start(form, {'action': path('post.show', {'slug': post.slug, 'id': post.id, '_fragment': 'addComment'}) }) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.content) }}
                    <div class="form-group text-right">
                        <button class="btn btn-primary btn-block">Commenter !</button>
                    </div>
                    {{ form_end(form) }}
                </div>
                <hr>
            {% else %}
                <div id="addComment" class="mb-2">
                    <span class="btn btn-primary btn-block">Vous devez être inscrit et identifié pour pouvoir poster un message !</span>
                </div>
            {% endif %}

            {% for comment in post.validatedComments %}
                <div class="post-comment p-3">
                    <div>
                        <span><a href="#">{{ comment.author.nickname }}</a></span>
                        <small>le {{ comment.createdAt|date('d/m/y à H:i') }} :</small>
                    </div>
                    <div class="py-1">
                        <strong>{{ comment.title }}</strong>
                        <p>{{ comment.content | nl2br }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr>
        </div>
    </div>
{% endblock %}



